.exercism.json
QtProject.conf
anjuta/
calibre/
chromium/
feedpage/feedpage.pid
google-googletalkplugin/
nvim/.netrwhist
nvim/plugged/
Kitware/
Skype/
Trolltech.conf
ario/
dconf/
filezilla/
gconf/
keepassx/
libfm/
libreoffice/
mimeapps.list
pcmanfm/
pdfmod/
qBittorrent/
ristretto/
user-dirs.locale
vlc/
xarchiver/
xfce4/
xm1/
bash/bash_history
feedpage/feedpage.log
feedpage/homepage.html
feedpage/homepage.html.backup
gtk-2.0/gtkfilechooser.ini
nvim/tmp
zsh/zcompdump
zsh/zhistory
Mousepad/
Thunar/
autostart/
manjaro/
nvim/autoload/plug.vim.old
pulse/
qt5ct/
volumeicon/
